*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  min-width: 375px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    180deg,
    rgb(0, 255, 251),
    rgb(111, 10, 124)
  );
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input {
  font-style: inherit;
}

.page-title {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.card {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.card--monster {
  color: crimson;
}

.card--hero {
  color: rgb(0, 2, 105);
}

.card--controls {
  margin-top: 100px;
}

.card--logs {
  margin-top: 70px;
  display: block;
}

.card--result {
  display: block;
  text-align: center;
}

.card--logs h2 {
  text-align: center;
  font-size: 32px;
  color: whitesmoke;
}

.card--start {
  min-height: 300px;
}

.btn {
  border: none;
  background-image: linear-gradient(180deg, #391eb3, #6f0a7c);
  color: white;
  border-radius: 12px;
  padding: 10;
  width: 150px;
  font-size: 1.2rem;
  font-weight: 700;
  min-height: 70px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btn:active {
  color: rgba(255, 255, 255, 0.5);
}

.btn--start {
  margin: 0 auto;
}

.hide {
  display: none;
}
